{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        metosin/malli {:mvn/version "0.20.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "clojure.test"
                     "river-city.law.core-test"
                     "river-city.domain.refined-fuels-test"]}}}
